<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
 <h1>Welcome, <%= @job.title %></h1>
   <p>You got a job! The user says:</p>
   <p>title
   <br>
   </p>
   <p>description 
   <br>
   </p> 
   <p>instructions 
   <br>
   </p>   
   <p>address 
   <br>
   </p>  
  </body>
</html>


title

description

instructions

address


