<h1>Welcome, <%= @user.name %></h1>

<p>Thanks for signing up to Helpr.</p>
<br>
<p>You can ask to Help or offer help here</p>
<br>
<p>you can edit your detials here</p>
<br> 
<p>Thanks for singing up, Helpr</p>
<rb> 
<p>To login to the site, just follow this link: <%= @url %>.</p>


