<html>
<head>
<style> 
  body {
    background-color: #FCF8F7;
  }
  body {
    color: #171E45;
    font-family: "Montserrat", sans-serif;
  } 
    </style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1>Welcome, <%= @user.username %></h1>
      <p>Thanks for signing up to Helpr.</p>
  </body> 
  </html>




