.center-on
.jobs-index-map-container
  #jobs-index-map

.jobs-index-list
  .job-index-list-top
    %h2 Search
    %p
      %em
        See the jobs
        %span.jobs-index-filter#by-location near you,
        find the ones
        %span.jobs-index-filter#no-offers without offers yet,
        or enter a location below.
    %input#jobs-index-map-search{autofocus: true}
  - @jobs.each do |job|
    .job-index-post
      %h3= link_to job.title, job_path(job)
      %h4= job.date_time.to_formatted_s(:long_ordinal)
      %p= job.description