%h2 JOBS INDEX
%h4.span#toggle-index-view toggle view
%h3 MAP

#job-index-map

%h3 LIST

- @jobs.each do |job|
  .well 
    .job-post-index
      %h3= link_to job.title, job_path(job)
      %h4= job.description
