%h2= @job.title

%h3= @job.description

%h4
  posted by
  = link_to @job.poster.username, profile_path(@job.poster)

%h4
  applied for by
  - @job.applicants.each do |applicant|
    =applicant.username