.header-image#home-img-a
  %h1 Helpr

.welcome-index-text
  .subheader
    %h2 Welcome to Helpr, the new way to connect people asking for help with those offering it. It's safe and easy to use, just scroll down to learn more.

.header-image#home-img-b
  %h1 Community

.welcome-index-text

  .subheader
    %h3 If you're looking for help, it's never been easier to reach out. Helpr is founded on a strong community spirit, with a strict no-payment policy.

.header-image#home-img-c
  %h1 Jobs

.welcome-index-text

  .subheader
    %h3 Just enter a location and what you need on our simple form. Our community will be able to offer a hand, and when you select a Helpr we'll send them the details.

.header-image#home-img-c
  %h1 Helping

.welcome-index-text

  .subheader
    %h3 Browse our map for requests that suit you, click the volunteer button and leave a note if you'd like. If your offer is accepted, Helpr will email all the details.

.header-image#home-img-e
  %h1 Sign Up

.welcome-index-text

  .subheader
    %h3 Do something good today: sign up to Helpr.

    = link_to 'JOIN US', new_user_registration_path
