.header-image#a
  %h2 HELPR
  %h3 "Good news is rare these days, and every glittering ounce of it should be cherished and hoarded and worshipped and fondled like a priceless diamond."
  Hunter S. Thompson

.welcome-index-text
  %h4 Welcome to Helpr the new way to connect people asking for help to those offering help. Helpr is based on community spirit with a strict no payment offered or expected policy. Its safe and easy to use, keep scrolling down to learn more.

.header-image#b
  %h2 JOBS

.welcome-index-text
  %h4 If you're looking for help its easy to reach out. Just enter a brief description of the type of help your looking for on our simple form. It can be anything from a hand with your gardening to a lift to the shops. People who are offering to help will see your request and be able to 'bid' on it. You will be able to select the Helpr discreetly and, once you've chosen, both of you will receive an email from us giving you all the details and information you need.

  = link_to 'SEE OUR JOBS', jobs_path

.header-image#c
  %h2 SIGN UP

.welcome-index-text
  %h4 Do something good today and sign up to Helpr. You'll be able browse through lots of requests from people needing a helping hand and you can offer to help as many peolpe and as many times as you want. Once the person has accepted your kind offer Helpr will email you both with all the details. Click below to sign up.

  = link_to 'SIGN UP TODAY', new_user_registration_path
