.header-image#a
  %h2 HELPR
  %h3 Be inspirational.

.welcome-index-text
  %h4 Helpr is a new social platform, facilitating everyone playing together nicely. The text needs some work.

.header-image#b
  %h2 JOBS

.welcome-index-text
  %h4 People who need a hand with things can post these needs and have them filled by altruistic strangers.

  = link_to 'SEE OUR JOBS', jobs_path

.header-image#c
  %h2 SIGN UP

.welcome-index-text
  %h4 Sign up today, to get your warm fuzzies on.

  = link_to 'SIGN UP TODAY', new_user_registration_path