.header-image#home-img-a
  %h2 Helpr

.welcome-index-text
  .subheader Welcome to Helpr, the new way to connect people asking for help with those offering it. It's safe and easy to use, just scroll down to learn more.

.header-image#home-img-b
  %h2 Community

.welcome-index-text

  %h4 If you're looking for help, it's never been easier to reach out. Helpr is based on community spirit, with a strict no-payment-offered-or-expected policy.

  = link_to 'JOIN US', new_user_registration_path

.header-image#home-img-c
  %h2 Jobs

.welcome-index-text

  %h4 Just enter a location and what you need on our simple form. It can be anything from a hand with your gardening to a lift to the shops. People who are offering to help will see your request and be able to offer a hand. Once you've discreetly selected a Helpr, both of you will receive an email from us with all the details.

  = link_to 'POST A JOB', jobs_path

.header-image#home-img-c
  %h2 Helping

.welcome-index-text

  %h4 You can browse our jobs by keyword, date or location. If one appeals to you, click the volunteer button and modify any details necessary. If the person accepts your kind offer, Helpr will email you both with all the details. Click below to sign up.

  = link_to 'LEND A HAND', new_user_registration_path

.header-image#home-img-e
  %h2 Sign Up

.welcome-index-text

  %h4 Do something good today and sign up to Helpr. You'll be able browse through lots of requests from people needing a helping hand and choose ones convenient for you.

  = link_to 'SIGN UP FREE', new_user_registration_path
