/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
   position: fixed;
   top: 0px;
   max-height: 45px;
   z-index: 999;
   width: 100%;
   padding-top: 5px;
   top: 0px;
   padding-bottom: 0;
   font-family: "Montserrat", sans-serif;
   background-color: rgba(255, 255, 255, 0.93);
   opacity: 1;
   top: 0px;
   border-bottom: 1px solid gainsboro;
   
 }

 .open-nav {
   max-height: 400px !important;
 }

 .logo a {
   width: 50px;
   font-size: 25px;
   color: #8f8f8f;
   float: left;
   margin-top: 0;
   line-height: 1;
   margin-bottom: 10px;
   position: fixed;
   top: 15px;
   left: 15px;
 }

 nav {
   float: right;
   width: 60%;
 }

 nav ul {
   list-style: none;
   overflow: hidden;
   padding-right: 40px; 
   float: right;
   display: inline
 }

 nav ul li {
   display: inline-block;
   margin-left: 35px;
   line-height: 1.5;
 }

 nav ul a {
   color: #888888;
   font-size: 12px;
 }
