/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*setup*/

 * {
   box-sizing: border-box;
 }

 body {
   width: 100%;
   padding: 0;
   background: #FCF8F7;
   font-family: "Cardo", serif;
   font-weight: 300;

 }

 .standard-width-content {
   width: 960px;
   margin: 0 auto;
 }

 .address {
   display: none;
 }

 .center-button {
   text-align: center;
 }

 .bid-status {
   background: green;
   color: white;
   padding: 10px;
 }

/*typesetting*/

a {
  text-decoration: none;
  font-family:;
}

h1 {
  float: left;
  font-size: 30px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

h1 a {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  float: left;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  position: fixed;
  top: 15px;
  left: 15px;
  margin: 2px; 
}

h2 {
  font-size: 102px;
  color: #3CB43E;
 /* border-bottom: 2px solid white;
  width: 350px;*/
  padding-bottom: 12px;
  line-height: 3;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  /*font-weight: lighter;
  font-style: italic;*/
  color: #3CB43E; 
}

h4 {
  font-size: 16px;
  line-height: 1.3;
  float: center; 
  font-family: "Montserrat", sans-serif;
}

h5 {

}

h6 {
 font-size: 22px;
 font-family: "Montserrat", sans-serif;
 margin-top: -175px; 
}

/*form font */

label {
  display: block;
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif; 
  font-weight: lighter;
}

input {
  color: black; 
  margin-bottom: 5px;
  width: 100%;

}

.form {
  width: 400px;
  margin: 0 auto;
  border-radius: 5px; 
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
  background: #FBFBF4; 
  padding: 20px;

}







.new_job {
 
}

p {
}

.page-nav {
  text-align: center;
  font-family: 'Montserrat'; 
  line-height: 220%;


  
}
.page-nav a {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 8px; 
  text-align: center;
/*border: 1px solid black;*/
 background: #eee;



}

/*nav bar*/

.header {
  max-height: 60px;
  z-index: 999;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.93);
  top: 0px;
  width: 100%;
  position: fixed;
  padding: 0;
  padding-top: 10px;
  background: white;
  border-bottom: 1px solid black;
}


nav {
  float: right;
  width: 600px;
}
.nav-links {
  list-style: none;
  overflow: hidden;
  padding: 0px;
  width: 750px; 
  float: right;
  display: inline;
  float: right;
  display: inline-block;
  text-align: center;
  margin: -20px;
}
.nav-links-item {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  display: inline-block;
  padding: 10px;
}
.nav-links-item a {
  color: #888888;
  font-size: 12px;
}

/*footer*/

.footer {
  background-color: #3CB43E; 
  height: 300px; 
  font-family: "Cardo", serif;
  font-size: 14px;
  display: inline-block;
  width: 100%; 
}

/*welcome content*/

.full-width-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.welcome-index-text {
  width: 760px;
  margin: 0 auto;
  color: #171E45;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.header-image {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 25px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.header-image#a {
  background: url(https://s3-eu-west-1.amazonaws.com/ga-helpr-project/old_person_thumbs_up.jpg) no-repeat center center fixed;
  z-index: 100; 
}

.header-image#b {
  background: url(https://s3-eu-west-1.amazonaws.com/ga-helpr-project/a_z_map.jpg) no-repeat center center fixed;
}

.header-image#c {
  background: url(https://s3-eu-west-1.amazonaws.com/ga-helpr-project/meals_on_wheels.jpg) no-repeat center center fixed;
}

/* js-dependent */

#toggle-index-map-list {
  width: 120px;
  height: 30px;
  top: 120px;
  margin: 20px;
  background: white;
  border: 1px solid black;
}

#jobs-index-map-container {
  width:960px;
  position: relative;
}

#jobs-index-map {
  display: inline-block;
  width:960px;
  height:500px;
  background-color: #eee;
}

#jobs-index-map-search {
  z-index:100;
  position:absolute;
  width: 500px;
  top: 20px;
  margin-left: 230px;
  padding: 10px;
}

.hide-index-map {
  position: absolute !important;
  top: -1000px !important;
}

#job-show-map {
  display: inline-block;
  width:960px;
  height:300px;
  background-color: #eee;
  float: right;
}