$color-navy: rgb(12, 35, 64);
$color-green: #3CB43E;
$font-header: "Montserrat", sans-serif;
$font-body: Georgia, serif;


* {
  box-sizing: border-box;
}
.site-content {
  margin-top: 42px;
}
.standard-width-content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 64px;
}


a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  a {
    color: #666;
  }
}
h1 {
  margin: 0;
  font-size: 102px;
  color: $color-green;
  padding-bottom: 12px;
  line-height: 3;
  letter-spacing: 2px;
}
h2 {}

p {
  font-family: $font-body;
  font-size: 14px;
  line-height: 1.5;
}