.form {
  font-family: $font-header;
  width: 400px;
  margin: 96px auto 24px auto;
  background: $color-lightgrey;
  padding: 18px;
  border: 1px solid #eee;
}
.field {
  label {
    display: block
  }
  input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 18px 0;
    border: 1px solid #ddd;
    &:focus {
      border: 1px solid $color-blue;
    }
  }
}
input[type="submit"] {
  width: 100%;
  height: 42px;
  margin: 24px 0 0 0;
  padding-top: 4px;
  background: $color-lightgrey;
  border: 3px solid $color-green;
  font-family: $font-header;
  text-align: center;
  font-size: 20px;
  color: $color-green;
  text-transform: uppercase;
  &:hover {
    color: $color-lightgrey;
    background: $color-green;
  }
}
.page-nav {
  a {
    display: block;
    width: 100%;
    height: 42px;
    margin: 12px 0 0 0;
    padding-top: 7px;
    background: $color-lightgrey;
    border: 3px solid $color-red;
    text-align: center;
    font-family: $font-header;
    font-size: 20px;
    color: $color-red;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    background: $color-red;
    color: $color-lightgrey;
  }
}
.devise-links {
  font-size: 14px;
  line-height: 1.8;
  a {
    color: black;
  }
}