.header-image {
  text-align: center;
  min-height: 260px;
  background-color: #eee;
  background-size: cover; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.subheader {
  width: 660px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.7;
  color: $color-navy;
}
.welcome-index-text {
  width: 960px;
  padding: 40px 0;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
  a {
    display: block;
    width: 300px;
    height: 50px;
    margin: 30px auto;
    padding-top: 4px;
    background: white;
    border: 3px solid $color-green;
    text-align: center;
    font-family: $font-header;
    font-size: 22px;
    color: $color-green;
    text-decoration: none;
  }
  a:hover {
    background: $color-green;
    color: white;
  }
}
#home-img-a {
  // background-image: url(http://41.media.tumblr.com/2ed18967c176c37180318e4d3cd10831/tumblr_nmqzf4EEDo1u1xp8xo1_1280.jpg);
  padding-top: 58px;
}
#home-img-b {
  // background-image: url(http://36.media.tumblr.com/b71a825f1daa3defb8bbd13c2686d82f/tumblr_nmqzel6s6B1u1xp8xo1_1280.jpg);
}
#home-img-c {
  // background-image: url(http://41.media.tumblr.com/c66cbb7e954263258f2de923bc9bc9ec/tumblr_nmqzdztU0i1u1xp8xo1_1280.jpg);
}
#home-img-d {
  // background-image: url(http://41.media.tumblr.com/d844685d63e4097bea9ae1baa444a3ab/tumblr_nmr0qzS1fA1u1xp8xo1_1280.jpg);
}