/*js-dependent*/

.job-id {
  display: none;
}

/*job show page*/

.job-show-header {
  width: 500px;
  float: left;
}
.job-show-content {
  width: 460px;
  padding: 20px;
  float: right;
}
.job-show-helper {
  float: left;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding-top: 20px;
  padding-right: 20px;
}
.job-show-select-helper {
  float: left;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  padding-top: 20px;
  padding-right: 20px;
}